[submodule "src/libfranka"]
	path = src/libfranka
	url = https://github.com/frankarobotics/libfranka.git
	branch = 0.9.2
[submodule "src/realsense-ros"]
	path = src/realsense-ros
	url = https://github.com/realsenseai/realsense-ros.git
